<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <script src="{{url_for('static', filename='script/script.js')}}"></script>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'styles/style.css')}}" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'font/font-awesome/css/font-awesome.min.css')}}" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'styles/bootstrap/css/bootstrap.min.css')}}" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'styles/bootstrap/css/bootstrap.css')}}" />
    </head>
    <body>
        <div class="navbarContainer">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="brand-name" href="/">
                    <img
                        src="/static/images/logo/tl.png"
                        class="logomark"
                        alt="Roboflow" />
                    Bộ Môn CNTT</a
                >
                <a class="brand-name" style="opacity: 0" href="/">
                    <img
                        src="/static/images/logo/tl.png"
                        class="logomark"
                        alt="Roboflow" />
                </a>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link project active" href="#"
                                >Project</a
                            >
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                Universe
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link doc" href="#">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link forum" href="#">Forum</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <nav><a class="sbm si" href="/login">Sign In</a></nav>
                        <nav>
                            <a class="sbm si" href="/register"
                                >Create Account</a
                            >
                        </nav>
                    </form>
                </div>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="train_1 sidebarNavigation">
                        <span class="title tl3"
                            >&nbsp;&nbsp;&nbsp;&nbsp;UNIVERSE</span
                        >

                        <nav class="slidebar">
                            <img
                                src="/static/images/taylor_red.jpg"
                                class="photo"
                                alt="no found" />
                            <a
                                href="/hunh-hu-ngha/adminitrative-subdivision"
                                class="nav-link">
                                <div class="label">
                                    <div class="icon">
                                        <i
                                            class="fa fa-book"
                                            aria-hidden="true"></i>
                                    </div>
                                    <span class="text"
                                        >&nbsp;&nbsp;&nbsp;&nbsp;Overview</span
                                    >
                                </div>
                            </a>

                            <a
                                href="/hunh-hu-ngha/adminitrative-subdivision/browse"
                                class="nav-link">
                                <div class="label">
                                    <div class="icon">
                                        <i
                                            class="fa fa-file-image-o"
                                            aria-hidden="true"></i>
                                    </div>
                                    <span class="text"
                                        >&nbsp;&nbsp;&nbsp;&nbsp;Images</span
                                    >
                                </div>
                                <span class="count">246</span>
                            </a>

                            <a
                                href="/hunh-hu-ngha/adminitrative-subdivision/dataset/1"
                                class="nav-link">
                                <div class="label">
                                    <div class="icon">
                                        <i
                                            class="fa fa-folder-open-o"
                                            aria-hidden="true"></i>
                                    </div>
                                    <span class="text"
                                        >&nbsp;&nbsp;&nbsp;&nbsp;Dataset</span
                                    >
                                </div>
                                <span class="count">1</span>
                            </a>

                            <a
                                href="/hunh-hu-ngha/adminitrative-subdivision/model/1"
                                class="nav-link selected">
                                <div class="label">
                                    <div class="icon">
                                        <i
                                            class="fa fa-rocket"
                                            aria-hidden="true"></i>
                                    </div>
                                    <span class="text"
                                        >&nbsp;&nbsp;&nbsp;&nbsp;Model</span
                                    >
                                </div>
                            </a>

                            <a
                                href="/hunh-hu-ngha/adminitrative-subdivision/model/1/documentation"
                                class="nav-link">
                                <div class="label">
                                    <div class="icon">
                                        <i
                                            class="fa fa-code"
                                            aria-hidden="true"></i>
                                    </div>
                                    <span class="text"
                                        >&nbsp;&nbsp;&nbsp;&nbsp;API Docs</span
                                    >
                                </div>
                            </a>

                            <a
                                href="/hunh-hu-ngha/adminitrative-subdivision/health"
                                id="health"
                                class="nav-link animated">
                                <div class="label">
                                    <div class="icon">
                                        <i
                                            class="fa fa-heartbeat"
                                            aria-hidden="true"></i>
                                    </div>
                                    <span class="text"
                                        >&nbsp;&nbsp;&nbsp;&nbsp;Health
                                        Check</span
                                    >
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 tool">
                    <div class="train_1">
                        <span class="title"
                            >&nbsp;&nbsp;&nbsp;&nbsp;Sample From Test Set</span
                        >

                        <div class="layout_img">
                            <div class="img_sample">
                                <img
                                    class="s_img"
                                    src="{{url_for('static', filename = 'images/taylor_red.jpg')}}"
                                    alt="no founder" />
                                <img
                                    class="s_img"
                                    src="{{url_for('static', filename = 'images/taylor_red.jpg')}}"
                                    alt="no founder" />
                                <img
                                    class="s_img"
                                    src="{{url_for('static', filename = 'images/taylor_red.jpg')}}"
                                    alt="no founder" />
                                <img
                                    class="s_img"
                                    src="{{url_for('static', filename = 'images/taylor_red.jpg')}}"
                                    alt="no founder" />
                            </div>
                        </div>
                    </div>

                    <div class="train_1">
                        <span class="title"
                            >&nbsp;&nbsp;&nbsp;&nbsp;Upload Files</span
                        >
                        <div class="train_2">
                            <span class="title tl2">Drop File Here or</span>

                            <form method="POST" enctype="multipart/form-data">
                                {{form.hidden_tag()}} {{
                                form.file(id="fileInput", class="input_file",
                                hidden=True) }} {{ form.submit(id="smImg",
                                class="submit_button", hidden=True) }}
                                <!-- <input id="fileInput" type="file"U hidden="" /> -->
                                <div class="frame_i">
                                    <label
                                        class="input_file"
                                        id="fileInputLabel"
                                        for="fileInput">
                                        <i
                                            style="text-align: center"
                                            class="fa fa-upload"
                                            aria-hidden="true"></i>
                                        <span
                                            class="spbt text_bt"
                                            for="fileInput"
                                            >Select File</span
                                        >
                                    </label>
                                </div>
                                <button class="smI" for="smImg">Submit</button>

                                {% if file_url %}
                                <p class="text_bt">
                                    File name: {{ file_url.split('/')[-1] }}
                                </p>
                                {% else %}
                                <p>No image uploaded yet.</p>
                                {% endif %}
                            </form>

                            <!-- </form> -->
                        </div>
                    </div>
                    <div class="train_1">
                        <span class="title">
                            &nbsp;&nbsp;&nbsp;&nbsp;Paste URL</span
                        >
                        <div class="train_2">
                            <form>
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <input
                                    id="imageURL"
                                    class="input-link"
                                    type="text"
                                    placeholder="Paste a link..." />
                            </form>
                            <button class="smI" onclick="downloadImage()">
                                Download and Display
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 process_img">
                    {% if file_url %}
                    <p>Uploaded Image: {{ filename }}</p>
                    <img
                        id="img_prc"
                        src="{{ file_url }}"
                        alt="Uploaded Image" />
                    {% else %}

                    <p>No image uploaded yet.</p>
                    {% endif %}
                    <img id="displayedImage" src="" alt="Downloaded Image" />
                </div>

                <div class="col-lg-2 result">
                    <div class="train_1">
                        <span class="title"
                            >&nbsp;&nbsp;&nbsp;&nbsp;Confidence Threshold:</span
                        >
                        <div class="flex items-center flex-row gap-2">
                            <p class="font-mono text-xs">0%</p>
                            <input
                                type="range"
                                min="1"
                                max="99"
                                value="50"
                                class="slider"
                                id="confidenceSlider" />
                            <p class="font-mono text-xs">100%</p>
                        </div>
                    </div>
                    <div class="train_1">
                        <!-- <h2 style="font-family: Georgia">Sample</h2> -->
                        <pre class="jsonOutput" id="inferenceJson">
    {
        "predictions": [
            {
            "class": "Taylor",
            "class_id": 1,
            "confidence": 3
            }
        
     }
                    </pre
                        >
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>

        <div class="container-ft">
            <div class="row ct-ft">
                <div class="col-lg-4 ftx ft1">
                    <h5>ABOUT COMPANY</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos
                        ducimus qui blanditiis praesentium voluptatum deleniti
                        atque corrupti. Blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias.
                    </p>
                </div>
                <div class="col-lg-4 ftx ft2"></div>
                <div class="col-lg-4 ftx ft3"></div>
            </div>
            <div class="ft-text-center">
                © 2024 Copyright:
                <a class="text-white" href="https://www.instagram.com/tedvkieu/"
                    >tedvkieu</a
                >
            </div>
            <!-- Copyright -->
        </div>
    </body>
</html>
