<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <title>Register | Flask</title>
        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'styles/style.css')}}" />
        <!-- Optional theme -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'styles/bootstrap/css/bootstrap.min.css')}}" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename = 'styles/bootstrap/css/bootstrap.css')}}" />
    </head>
    <body>
        <div id="login">
            <h3 class="text-center text-white pt-51">Register form</h3>
            <div class="container">
                <div
                    id="login-row"
                    class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form
                                id="login-form"
                                class="form"
                                action=""
                                method="post">
                                <h3 class="text-center text-info1">Register</h3>
                                <div class="form-group">
                                    <label for="email" class="text-info1"
                                        >Username:</label
                                    ><br />
                                    <input
                                        type="text"
                                        name="uname"
                                        id="uname"
                                        class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-info1"
                                        >Email:</label
                                    ><br />
                                    <input
                                        type="email"
                                        name="mail"
                                        id="mail"
                                        class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-info1"
                                        >Password:</label
                                    ><br />
                                    <input
                                        type="password"
                                        name="passw"
                                        id="passw"
                                        class="form-control" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-info1">
                                        Register
                                    </button>
                                </div>
                                <div class="form-group">
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %} {% for m in messages %}
                                    <p class="flash_mess">{{m}}</p>
                                    {% endfor %} {% endif %} {% endwith %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </body>
</html>
